
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');
body {
  margin: 0;
  box-sizing: border-box;
  overflow-x: hidden;

  font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, Helvetica Neue, sans-serif;
  font-size: 17px;
  line-height: 1.43;
 color:black;
 font-weight: 400;
}
p{
  font-weight: 200;
  font-size: 15px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.nav{
  font-size: 18px;
  
}
/*----------style banière header---------*/
.black{
  
  width:100%;
  padding:1rem 0rem;
  font-size: 16px;
  background-color:rgb(17, 17, 17);
  color:rgb(100, 99, 99);
}
.black a{
  
  color:rgb(100, 99, 99);
  font-weight: 400;
  
}
 .banner{
  background-image: url(banner.jpg);
  background-size:cover;
  background-position-y: bottom;
  background-position-x: right;
  max-width:1000vw;
  
  height:85vh;
  background-repeat:no-repeat ;
  
} 

.container{
  position:relative;

}

.titre{
  position:absolute;
  z-index:2;
  top:250px;
  left:80px;
  

}
.titre h1{
  font-weight:900;
  font-size:45px;
  line-height:40px;
}
.btn-black{
  background-color: black;
  color:white;
  border-color: 1px solid black;
}


/*----------style soustitre---------*/
.subtitle{
  font-weight:bold;
  text-justify: auto;
  margin-left:5rem;
  margin-top:4rem;
}
.activité{
  margin-left:5rem;
  margin-bottom:5rem;
}
.imgrégion{
  object-fit: cover;
  border-radius: 1rem;
  width:72px;
}
.card-title{
  width:200px;
  
}

.imgcarte{
  width:272px;
  border-radius: 0.7rem;
}

.content{
  background-image: url(hote.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  margin:3rem 3rem;
  
  padding:7.5rem 10rem;
  border-radius: 0.7rem;
  color:white;
  
}

/*......style section expérience...........*/
.imgexp {
  width:22rem;
  border-radius: 0.7rem;
  object-fit: cover;
  
}

.cardexp{
  width:22rem;
}

/*--------footer--------*/
.footer{
  margin-top: 5rem;
  border-top: 1px solid  #dad9d9;;
  background-color: #f7f7f7;
  padding:4rem;
  font-weight: 100;
  
}